params.resource_bundle = '<INSERT PATH HERE>/pf8/resource-bundle'

manifest {
	author            = 'MalariaGEN and Broad Institute DSP Methods Collaboration'
	mainScript        = 'main.nf'
	name              = 'parasite-snp-indel-calling'
	recurseSubmodules = true
}

process {
	container = "${params.resource_bundle}/pf_8-gatk-4.2.5.0.sif"
}

// Inputs:
params {
    // Required inputs:
	manifest           = null
	gvcf_map_directory = null

   // The methods resources, try took keep then within the resource bundle if possible:
	reference         = "${params.resource_bundle}/PlasmoDB-54_Pfalciparum3D7_Genome.fasta"
    crosses_vcf_file1 = "${params.resource_bundle}/7g8_gb4.combined.final.vcf.gz" // assumes that the companion index .tbi is present.
	crosses_vcf_file2 = "${params.resource_bundle}/hb3_dd2.combined.final.vcf.gz" // assumes that the companion index .tbi is present.
	crosses_vcf_file3 = "${params.resource_bundle}/3d7_hb3.combined.final.vcf.gz" // assumes that the companion index .tbi is present.
	regions_bed_file  = "${params.resource_bundle}/regions-20130225-plus-api-mt.bed.gz"

	// should be smaller with a larger number of samples (Pf6 with 20K used 10kbp)
	genotyping_interval_size = 10000

	// needed to avoid loss of overlapping deletion information usefully in genotyping down the road.
	db_import_upstream_padding = 500
	conserved_bed_file         = "${params.resource_bundle}/regions-20130225.core.bed"
	anno_config_file           = "${params.resource_bundle}/snpEff.config"
	anno_cds_gff_file          = "${params.resource_bundle}/Pfalciparum_replace_Pf3D7_MIT_v3_with_Pf_M76611.gff.cds.gz"
	anno_header_file           = "${params.resource_bundle}/annotations.hdr"

    // Methods specific configurables
	bqsr_known_sites       = "${params.resource_bundle}/Pf7_bqsr_known_sites.vcf.gz" 
	bqsr_known_sites_index = "${params.bqsr_known_sites}.tbi"

	vqsr_default_parameters_file = "${params.resource_bundle}/vqsr-default-parameters.txt"
	
	snpeff_jar_path = "${params.resource_bundle}/snpEff/snpEff.jar" 

	gatk_haplotype_caller_out_mode             = "GVCF"
	gatk_haplotype_caller_contamination        = 0
	gatk_haplotype_caller_execution_parameters = true

	import_gvcfs_genomics_db_import_extra_args = ''
	import_gvcfs_interval_padding              = 500
	import_gvcfs_batch_size                    = 50



	vqsr_build_interval_file                   = "${params.conserved_bed_file}"
	vqsr_build_recalibration_tranche_values    = '-tranche 100.0 -tranche 99.95 -tranche 99.9 -tranche 99.8 -tranche 99.6 -tranche 99.5 -tranche 99.4 -tranche 99.3 -tranche 99.0 -tranche 98.0 -tranche 97.0 -tranche 90.0'
	vqsr_build_recalibration_annotation_values = '-an QD -an FS -an SOR -an MQRankSum -an ReadPosRankSum' // -an MQ' // "-an A1 -an A2 ..."
	vqsr_build_training_resources              = "--resource:7g8_gb4,known=false,training=true,truth=true,prior=15.0 $crosses_vcf_file1 --resource:hb3_dd2,known=false,training=true,truth=true,prior=15.0 $crosses_vcf_file2 --resource:3d7_hb3,known=false,training=true,truth=true,prior=15.0 $crosses_vcf_file3"

	variant_annotation_snpeff_db_name       = 'Pfalciparum3D7_PlasmoDB_55'
	variant_annotation_config_file          = "${params.anno_config_file}"
	variant_annotation_snpeff_extra_options = '-no-downstream -no-upstream -onlyProtein'
	variant_annotation_cds_gff_fn           = "${params.anno_cds_gff_file}"
	variant_annotation_header_fn            = "${params.anno_header_file}"
	variant_annotation_regions_bed_fn       = "${params.regions_bed_file}"

	variant_filtration_vqslod_threshold     = 2.0
}
